# Ignore everything by default
*

# Keep .gitignore itself
!.gitignore

# Allow nvim configuration files
!nvim/
!nvim/**

# Ignore temporary files inside nvim
nvim/*.log
nvim/*.tmp

# Allow README
!README.md
